* {
  height: auto;
  margin: 0;
}

header {
  width: 100%;
  height: 100px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.header_content {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 140px;
  height: 55px;
}

.header_burger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.burger_line1, .burger_line2, .burger_line3 {
  width: 100%;
  height: 4px;
  background: white;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar_serveces, .navbar_bitrix, .navbar_solutions, .navbar_about {
  height: 16px; 
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: 'Commissioner';
  cursor: pointer;
}

.phone {
  height: 22px;
}

.phone, .connection {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-family: 'Commissioner';
  cursor: pointer;
}

.connection {
  height: 100%;
  padding: 0 105px;
  background: #CC2634;
}

.connection:hover {
  background: #b81b28;
  transition-duration: .3s;
}

main {
  width: 100%;
}

.main_image {
  width: 100%;
  height: auto;
}

.main_image_descriptor {
  height: 170px;
  position: absolute;
  top: 300px;
  left: 20%;
  font-weight: 700;
  font-size: 170px;
  font-family: 'Caveat';
  color: #fff;
}

.about {
  height: auto;
  width: 100%;
  margin: auto;
}

.about_title {
  height: auto;
  width: 75%;
  padding: 50 0 20 0;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: auto;
  display: flex;
}

.about_title_line {
  width: 100px;
  height: 1px;
  display: flex;
  align-items: center;
  background: #000;
}

.about_title_descriptor {
  display: flex;
  align-items: center;
  height: 60px;
  font-weight: 500;
  font-size: 60px;
  font-family: 'Commissioner';
}

.about_navbar {
  width: 75%;
  height: 14px;
  margin: auto;
  padding: 30px 0 30px 130px;
  display: flex;
  gap: 20px;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Commissioner';
}

.about_navbar_about, .about_navbar_facts, .about_navbar_pros, .about_navbar_founders {
  cursor: pointer;
}

.greetings_part1 {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 70% 30%;
}

.greetings_part1_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px 0 0 130px;
}

.greetings_part1_title {
  font-size: 20px;
  font-family: 'Commissioner';
}

.greetings_part1_text {
  padding-right: 80px;
  font-size: 14px;
  font-family: 'Commissioner';
  line-height: 25px;
  font-weight: 300;
}

.greetings_registration {
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #F2F2F2;
}

.greetings_registration_title {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Commissioner';
  text-align: start;
}

.greetings_registration_date {
  font-size: 80px;
  font-weight: 500;
  font-family: 'Commissioner';
  text-align: start;
}

.greetings_registration_text {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Commissioner';
  text-align: start;
}

.greetings_part2 {
  width: 75%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 35% 30%;
}

.greetings_part2_img {
  width: 100%;
  height: 100%;
}

.greetings_part2_text {
  width: 100%;
  padding: 20px 0;
  margin: 0 20px;
  font-family: 'Commissioner';
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
}

.greetings_part3 {
  width: 75%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 35% 35% 20%;
}

.greetings_part3_img {
  width: 100%;
  height: 100%;
}

.greetings_part3_text {
  width: 100%;
  padding: 15px 50px;
  font-family: 'Commissioner';
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.greetings_part4 {
  width: 75%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 35% 30%;
}

.greetings_part4_img {
  width: 100%;
  height: 100%;
}

.greetings_part4_text {
  width: 100%;
  padding: 40px 0;
  margin: 0 20px;
  font-family: 'Commissioner';
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
}

.greetings_part5 {
  width: 100%;
  background: #F2F2F2;
}

.greetings_part5_content {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 35% 35% 30%;
}

.greetings_part5_textbox{
  width: 100%;
  height: 65%;
  background: #51BAE5;
  color: #fff;
}

.greetings_part5_text {
  margin: 140px 60px 60px;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  font-style: normal;
  font-family: 'Commissioner';
}

.greetings_part5_img {
  width: 95%;
  margin: 7%;
}

.greetings_part5_descriptors {
  margin-top: 40%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  font-family: 'Commissioner';
}

.greetings_part5_descriptor1, .greetings_part5_descriptor2 {
  margin-bottom: 50px;
  display: flex;
  gap: 20px;
}

.descriptor1_line, .descriptor2_line {
  width: 100px;
  height: 1px;
  margin-top: 15px;
  background: #000;
}

.advantages {
  width: 100%;
  padding: 80px 0;
  /* display: flex; */
  background: #393B3C;
}

.advantages_topBox {
  display: grid;
  grid-template-columns: 38.8% 16.2% 16.2% 16.2%;
}

.advantages_pluses {
  padding: 80px 20px 80px 200px;
  display: flex;
  gap: 30px;
  border: 1px solid rgba(242, 242, 242, 0.2);
  border-left: 0;
  color: white;
  font-family: 'Commissioner';
}

.advantages_pluses_line {
  height: 1px;
  width: 70px;
  margin-top: 28px;
  background: white;
}

.advantages_pluses_title {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.advantages_pluses_suptitle {
  width: 100%;
  font-size: 40px;
  font-weight: 500;
  line-height: 45px;
}

.advantages_pluses_descriptor {
  width: 100%;
  font-size: 14px;
  color: #777777;
}

.advantages_expInProjects {
  border-top: 1px solid rgba(242, 242, 242, 0.2);
  border-bottom: 1px solid rgba(242, 242, 242, 0.2);
}

.advantages_number {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #51BAE5;
  font-size: 50px;
  font-weight: 600;
  font-family: 'Commissioner';
}

.advantages_descriptorBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-top: 1px solid rgba(242, 242, 242, 0.2);
}

.advantages_counter, .advantages_counter_02, .advantages_counter_03, .advantages_counter_04, .advantages_counter_06, .advantages_counter_07, .advantages_counter_08 {
  position: relative;
  top: -5px;
  left: 10px;
  font-family: 'Commissioner';
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.advantages_counter_02 {
  margin-bottom: 85px;
}

.advantages_counter_03 {
  margin-bottom: 45px;
}

.advantages_counter_04 {
  margin-bottom: 40px;
}

.advantages_counter_06, .advantages_counter_07, .advantages_counter_08 {
  margin-bottom: 20px;
}

.advantages_description {
  width: 70%;
  padding-top: 20px;
  font-size: 14px;
  font-family: 'Commissioner';
  font-weight: 300;
  line-height: 22px;
  color: white;
}

.advantages_subdescription {
  font-size: 12px;
  color: #777777;
}

.advantages_trainings {
  border: 1px solid rgba(242, 242, 242, 0.2);
  border-right: 0;
}

.advantages_ownSoft {
  border: 1px solid rgba(242, 242, 242, 0.2);
}

.advantages_botBox {
  width: 100%;
  height: 390px;
  margin: auto;
  display: grid;
  grid-template-columns: 12.5% 13.15% 13.1% 16.3% 16.15% 16.2%;
}

.advantages_bitrixProducts, .advantages_buisnessAutomation, .advantages_downloads {
  border: 1px solid rgba(242, 242, 242, 0.2);
  border-top: 0;
}

.advantages_ownSupports, .advantages_hoursInProjects {
  border-bottom: 1px solid rgba(242, 242, 242, 0.2);
}

footer {
  padding: 30 0;
  width: 100%;
  height: 100px;
  bottom: 0;
}