* {
  height: auto;
  margin: 0;
}

header {
  width: 100%;
  height: 90px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.header_content {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 140px;
  height: 55px;
}

.header_burger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.burger_line1, .burger_line2, .burger_line3 {
  width: 100%;
  height: 4px;
  background: white;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar_serveces, .navbar_bitrix, .navbar_solutions, .navbar_about {
  height: 16px; 
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: 'Commissioner';
  cursor: pointer;
}

.phone {
  height: 22px;
}

.phone, .header_connection {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-family: 'Commissioner';
  cursor: pointer;
}

.header_connection {
  height: 84px;
  width: 20%;
  display: flex;
  justify-content: center;
  border: #CC2634 3px solid;
  background: #CC2634;
  font-size: 18px;
}

.header_connection:hover {
  border: #CC2634 3px solid;
  background: white;
  color: #CC2634;
  transition-duration: .3s;
}

main {
  width: 100%;
}

.main_image {
  width: 100%;
  height: auto;
}

.main_image_descriptor {
  height: 170px;
  position: absolute;
  top: 300px;
  left: 20%;
  font-weight: 700;
  font-size: 170px;
  font-family: 'Caveat';
  color: #fff;
}

.about {
  height: auto;
  width: 100%;
  margin: auto;
}

.about_title {
  height: auto;
  width: 75%;
  padding: 50 0 20 0;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: auto;
  display: flex;
}

.about_title_line {
  width: 100px;
  height: 1px;
  display: flex;
  align-items: center;
  background: #000;
}

.about_title_descriptor {
  display: flex;
  align-items: center;
  height: 60px;
  font-weight: 500;
  font-size: 60px;
  font-family: 'Commissioner';
}

.about_navbar {
  width: 67%;
  height: 14px;
  margin: auto;
  padding: 30px 0 30px 130px;
  display: flex;
  gap: 20px;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Commissioner';
}

.about_navbar_about, .about_navbar_facts, .about_navbar_pros, .about_navbar_founders {
  cursor: pointer;
}

.greetings_part1 {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 70% 30%;
}

.greetings_part1_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px 0 0 130px;
}

.greetings_part1_title {
  font-size: 20px;
  font-family: 'Commissioner';
}

.greetings_part1_text {
  padding-right: 80px;
  font-size: 14px;
  font-family: 'Commissioner';
  line-height: 25px;
  font-weight: 300;
}

.greetings_registration {
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #F2F2F2;
}

.greetings_registration_title {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Commissioner';
  text-align: start;
}

.greetings_registration_date {
  font-size: 80px;
  font-weight: 500;
  font-family: 'Commissioner';
  text-align: start;
}

.greetings_registration_text {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Commissioner';
  text-align: start;
}

.greetings_part2 {
  width: 75%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 35% 30%;
}

.greetings_part2_img {
  width: 100%;
  height: 100%;
}

.greetings_part2_text {
  width: 100%;
  padding: 20px 0;
  margin: 0 20px;
  font-family: 'Commissioner';
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.greetings_part3 {
  width: 75%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 35% 35% 20%;
}

.greetings_part3_img {
  width: 100%;
  height: 100%;
}

.greetings_part3_text {
  width: 100%;
  padding: 15px 50px;
  font-family: 'Commissioner';
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.greetings_part4 {
  width: 75%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 35% 30%;
}

.greetings_part4_img {
  width: 100%;
  height: 100%;
}

.greetings_part4_text {
  width: 100%;
  padding: 40px 0;
  margin: 0 20px;
  font-family: 'Commissioner';
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.greetings_part5 {
  width: 100%;
  background: #F2F2F2;
}

.greetings_part5_content {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 35% 35% 30%;
}

.greetings_part5_textbox{
  width: 100%;
  height: 65%;
  background: #51BAE5;
  color: #fff;
}

.greetings_part5_text {
  margin: 140px 60px 60px;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  font-style: normal;
  font-family: 'Commissioner';
}

.greetings_part5_img {
  width: 95%;
  margin: 7%;
}

.greetings_part5_descriptors {
  margin-top: 40%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  font-family: 'Commissioner';
}

.greetings_part5_descriptor1, .greetings_part5_descriptor2 {
  margin-bottom: 50px;
  display: flex;
  gap: 20px;
}

.descriptor1_line, .descriptor2_line {
  width: 100px;
  height: 1px;
  margin-top: 15px;
  background: #000;
}

.advantages {
  width: 100%;
  padding: 80px 0;
  background: #393B3C;
}

.advantages_topBox {
  display: grid;
  grid-template-columns: 38.8% 16.2% 16.2% 16.2%;
}

.advantages_pluses {
  padding: 80px 20px 80px 200px;
  display: flex;
  gap: 30px;
  border: 1px solid rgba(242, 242, 242, 0.2);
  border-left: 0;
  color: white;
  font-family: 'Commissioner';
}

.advantages_pluses_line {
  height: 1px;
  width: 120px;
  margin-top: 28px;
  background: white;
}

.advantages_pluses_title {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.advantages_pluses_suptitle {
  width: 100%;
  font-size: 40px;
  font-weight: 500;
  line-height: 45px;
}

.advantages_pluses_descriptor {
  width: 100%;
  font-size: 14px;
  color: #777777;
}

.advantages_expInProjects {
  border-top: 1px solid rgba(242, 242, 242, 0.2);
  border-bottom: 1px solid rgba(242, 242, 242, 0.2);
}

.advantages_number {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #51BAE5;
  font-size: 50px;
  font-weight: 600;
  font-family: 'Commissioner';
}

.advantages_descriptorBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-top: 1px solid rgba(242, 242, 242, 0.2);
}

.advantages_counter, .advantages_counter_02, .advantages_counter_03, .advantages_counter_04, .advantages_counter_06, .advantages_counter_07, .advantages_counter_08 {
  position: relative;
  top: -5px;
  left: 10px;
  font-family: 'Commissioner';
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.advantages_counter_02 {
  margin-bottom: 85px;
}

.advantages_counter_03 {
  margin-bottom: 45px;
}

.advantages_counter_04 {
  margin-bottom: 40px;
}

.advantages_counter_06, .advantages_counter_07, .advantages_counter_08 {
  margin-bottom: 20px;
}

.advantages_description {
  width: 70%;
  padding-top: 20px;
  font-size: 14px;
  font-family: 'Commissioner';
  font-weight: 300;
  line-height: 22px;
  color: white;
}

.advantages_subdescription {
  font-size: 12px;
  color: #777777;
}

.advantages_trainings {
  border: 1px solid rgba(242, 242, 242, 0.2);
  border-right: 0;
}

.advantages_ownSoft {
  border: 1px solid rgba(242, 242, 242, 0.2);
}

.advantages_botBox {
  width: 100%;
  height: 390px;
  margin: auto;
  display: grid;
  grid-template-columns: 12.5% 13.15% 13.1% 16.3% 16.15% 16.2%;
}

.advantages_bitrixProducts, .advantages_buisnessAutomation, .advantages_downloads {
  border: 1px solid rgba(242, 242, 242, 0.2);
  border-top: 0;
}

.advantages_ownSupports, .advantages_hoursInProjects {
  border-bottom: 1px solid rgba(242, 242, 242, 0.2);
}

.records {
  width: 100%;
  background: rgba(242, 242, 242, 30%);
}

.records_title {
  height: auto;
  width: 75%;
  padding-top: 80px;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: auto;
  display: flex;
}

.records_title_line {
  width: 100px;
  height: 1px;
  display: flex;
  align-items: center;
  background: #000;
}

.records_title_description {
  display: flex;
  align-items: center;
  height: 60px;
  font-weight: 500;
  font-size: 60px;
  font-family: 'Commissioner';
}

.records_navbar {
  width: 60%;
  height: auto;
  margin: auto;
  padding: 60px 0;
  display: flex;
  justify-content: space-around;
}

.navbar_year {
  height: auto;
  display: flex;
  gap: 15px;
  align-items: center;
  font-family: 'Commissioner';
  font-size: 12px;
}

.navbar_line {
  width: 24px;
  height: 1px;
  display: flex;
  align-items: center;
  background: #000;
}

.slider {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.slider_line {
  width: 100%;
  margin: 200px 0;
  position: absolute;
  border-top: 1px dashed #000;
}

.slider_carousel {
  width: 100%;
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* .slider_carousel::-webkit-scrollbar {
  height: 0;
} */

.slider_odd {
  width: 100%;
  height: auto;
  padding-left: 330px;
  display: flex;
  gap: 500px;

}

.slider_even {
  width: 100%;
  height: auto;
  display: flex;
  gap: 500px;
}

.slider_vertical-line {
  width: 1px;
  height: 60px;
  margin-left: 59.5px;
  background: #000;
}

.slide {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F2F2F2;
  color: #000;
  font-family: 'Commissioner';
  cursor: pointer;
}

.slide_year16 {
  font-family: 'Commissioner';
  font-size: 46px;
  font-weight: 500;
  line-height: 56px;
  text-align: left;
}

.slider_text {
  font-family: 'Commissioner';
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.slide-img {
  width: 100%;
  height: auto;
}

.slider_slide2022 {

}

.slider_slide2021 {

}

.slider_slide2020 {

}

.slider_slide2019 {

}

.slider_slide2018 {

}

.slider_slide2017 {

}

.slider_slide2016 {
  width: 300px;
  height: 300px;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  position: absolute;
  left: 1760px;
  top: 0;
  overflow-y: scroll;
  background: #51BAE5;
  color: #fff;
}

.slider_slide2015 {

}

.slider_slide2014 {

}

.slider_slide2013 {

}

.slider_slide2012 {
  
}

.founders {
  width: 75%;
  padding-top: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.founders_content {
  display: flex;
  justify-content: space-around;
  gap: 60px;
}

.founders_line {
  width: 100px;
  height: 1px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  background: #000;
}

.founders_title {
  font-size: 60px;
  font-family: 'Commissioner';
}

.founders_names {
  display: flex;
  flex-direction: column;
}

.founders_name {
  margin: 55px 0 10px 0;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Commissioner';
}

.founders_description {
  font-size: 12px;
  font-weight: 300;
  font-family: 'Commissioner';
  line-height: 18px;
}

.founders_img {
  height: 600px;
  margin: 0 10px 30px 0;
}

.ourCompetition {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  cursor: pointer;
}

.connection {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #CC2634;
  color: #fff;
  cursor: pointer;
}

.ourCompetition_content, .connection_content {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Commissioner';
  font-size: 50px;
}

.ourCompetition_content {
  width: 85%;
}

.footer_arrow {
  display: flex;
  justify-content: space-between;
}

footer {
  width: 100%;
  height: auto;
  background: #000;
}

.footer_content {
  width: 70%;
  margin: auto;
  padding: 50px 0 30px 0;
  display: flex;
  gap: 80px;
  justify-content: space-between;
}

.footer_logo {
  width: 130px;
  height: auto;
  cursor: pointer;
}

.footer_rights {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer_reg, .footer_partner {
  font-size: 13px;
  color: #777777;
  font-family: 'Commissioner';
}

.footer_links {
  padding-top: 25px;
  display: flex;
  gap: 30px;
}

.footer_services, .footer_about, .footer_bitrix, .footer_solutions {

}

.footer_title {
  margin-bottom: 20px;
  font-size: 16px;
  color: #fff;
  font-family: 'Commissioner';
  cursor: pointer;
}

.footer_list {
  min-width: 100px;
}

.footer_link {
  margin-bottom: 18px;
  font-size: 13px;
  font-family: 'Commissioner';
  color: #777777;
  cursor: pointer;
}

.footer_networks-and-bitrix {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_contacts {
  width: 100%;
  margin: auto;
  padding: 0 0 50px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}

.footer_phone {
  margin-left: 10px;
  font-size: 18px;
  font-family: 'Commissioner';
  color: #fff;
  cursor: pointer;
}

.footer_phone:hover::before {
  transform: scaleX(1);
  transition: .5s;
}

.footer_phone:before {
  content: '';
  width: 100px;
  height: 4px;
  position: absolute;
  background: rgb(255, 0, 0);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
}

.footer_networks {
  display: flex;
  gap: 20px;
}

.footer_SN-link {
  width: 30px;
  cursor: pointer;
}

.bitrix-img {
  width: 180px;
  height: 50px;
  cursor: pointer;
}